body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    text-align: center;
    object-fit: fill;
    
}

.logo img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Style links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Animasi teks */
.wrapper p, h2 {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    opacity: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Animasi logo */
.logo-img {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    opacity: 0;
}

@keyframes bounce {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#myInput {
    background-image: url('/css/search.gif'); /* Add a search icon to input */
    background-position: 7px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    
  }

  .results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}
