body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    text-align: center;
    object-fit: fill;
    
}

.logo img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Style links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Animasi teks */
.wrapper p, h2 {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    opacity: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Animasi logo */
.logo-img {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    opacity: 0;
}

@keyframes bounce {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
