.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 800px;
    margin: 0 auto;
    background-color: none;
}
